# Node modules & build files
node_modules/
.next/
out/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings (Opsional, aman di-ignore)
.vscode/
.idea/

# TypeScript build
dist/
